<%- include('partials/header') -%>

<body>
    <%- include('partials/search-bar-js') -%>
    <h1>Parmenides Search Tool</h1>
    <form action="/" method="post">
        <input type="text" id="search-bar" placeholder="Enter Search Term" autofocus required name="word">
        <button type="submit" onclick="checkButton(); showTables();"> Submit </button><br><br>
        <p>I want to find...</p>
        <input type="radio" value="Terms" class="form-check-input" name="flexRadioDefault" id="flexRadioDefault2"> Terms<br>
        <input type="radio" value="Documents" class="form-check-input" name="flexRadioDefault" id="flexRadioDefault1" checked> Documents<br>
    </form>
    <br>

    <div id="doc-table">
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <th>Document Title</th>
                <th>Authors</th>
                <th>Publication Dates</th>
                <th>Term in Document</th>
            </thead>
            <% for (var i = 0; i < data.length; i++) { %>
                <% var row = data[i].split('","') %>
                <tr>
                    <% for (var j = 0; j < row.length; j++) { %>
                        <% if (j == 0) { %>
                            <td><%= row[j].substring(10) %></td> 
                        <% } else if (j == 1) { %>
                            <td><%= row[j].substring(9) %></td> 
                        <% } else if (j == 2) { %>
                            <td><%= row[j].substring(10) %></td> 
                        <% } else if (j == 3) { %>
                            <% var term = row[4].substring(17, row[4].length-2) %>
                            <% var url = "/termindoc/" + term + "/" + row[j].substring(5) %>
                            <td><a href=<%= url %>>Doc Page</a></td> 
                        <% } %>
                    <% } %>
                </tr>
            <% } %>
        </table>
    </div>
</body>
</html>