<%- include('partials/header') -%>
<link rel="stylesheet" href="/css/doc-display.css">
</head>
<body>
    <h1>Parmenides</h1>
    <div class="doc-data">
        <% var title = docInfo[0].substring(10,docInfo[0].length) %>
        <% var uniqueID = docInfo[1].substring(5,docInfo[1].length-2) %>
        <p><span class="label">Document Title:</span> <%= title %></p>
        <p><span class="label">Unique ID:</span> <%= uniqueID %></p>

        <p><span class="label">Publication Date:</span> <%= pubDate[0].substring(14, pubDate[0].length-2) %></p>

        <p>
        <% if (authors.length > 1) { %>
            <p><span class="label">Authors:</span> 
                <% for (var i = 0; i < authors.length-1; i++) { %>
                    <%= authors[i].split('","')[1].substring(7,authors[i].split('","')[1].length-2) + ', ' %>
                <% } %>
                <%= authors[authors.length-1].split('","')[1].substring(7,authors[authors.length-1].split('","')[1].length-2) %>
            </p>
        <% } else { %>
            <p><span class="label">Author:</span> <%= authors[0].split('","')[1].substring(7,authors[0].split('","')[1].length-2) %></p>
        <% } %>

        <% var otherWorksArr = [] %>
        <ul>
            <% for (var i = 0; i < otherWorks.length; i++) { %>
                <% otherWorksArr[i] = [] %>
                <% for (var thisAuth = 0; thisAuth < authors.length; thisAuth++) { %>
                    <% var row = otherWorks[i].split('","') %>
                    <% if (row[0].substring(7) != uniqueID && row[3].substring(10,row[3].length-2) == authors[thisAuth].split('","')[0].substring(7)) { %>
                        <% otherWorksArr[thisAuth].push(row) %>
                    <% } %>
                <% } %>
            <% } %>
        </ul>

        <% var areOtherWorks = false %>
        <% for (var i = 0; i < authors.length; i++) { %>
            <% if (otherWorksArr[i].length > 0) { %>
                <% areOtherWorks = true %>
            <% } %>
        <% } %>
        <% if (areOtherWorks) { %>
            <p><span class="label">Other works:</span></p>
            <div class="row">  
                <% for (var i = 0; i < otherWorksArr.length; i++) { %>
                    <% if (otherWorksArr[i].length > 0) { %>
                        <div class="column">
                            <table class="table table-bordered table-sm" >
                                <thead class="table-light">
                                <% if (authors.length > 1) { %>
                                    <th class="fit"><%= otherWorksArr[i][0][2].substring(7) %></th>
                                <% } %>
                                </thead>
                                <% for (var j = 0; j < otherWorksArr[i].length; j++) { %>
                                    <tr>
                                        <% var url = "/docs/" + otherWorksArr[i][j][0].substring(7) %>
                                        <td class="fit">
                                            <a href=<%= url %>><%= otherWorksArr[i][j][1].substring(8) %></a>
                                        </td>
                                    </tr>
                                <% } %>
                            </table>
                        </div>
                    <% } %>
                <% } %>
            </div>
        <% } %>

        <% if (metadata.length != 0) { %>
            <p><span class="label">Other Information:</span></p>
            <table class="table table-bordered table-sm">
            <thead class="table-light">
                <th>Category</th>
                <th>Value</th>
            </thead>
            <% for (var i = 0; i < metadata.length; i++) { %>
                <tr>
                    <% var key = metadata[i].split('","')[0].substring(8) %>
                    <% var value = metadata[i].split('","')[1].substring(8, metadata[i].split('","')[1].length-2) %>
                    <% if (key != 'pdf') { %>
                        <% var keyLabel = key.substring(0, 1).toUpperCase() + key.substring(1) %>
                        <td><%= keyLabel %></td>                     
                        <td><%= value %></td>
                    <% } else { %>
                        <% if (value != 'None') { %>
                            <td><%= key.toUpperCase() %></td>                     
                            <td>
                                <a href=<%= value %> target="_blank" rel="noopener noreferrer"><%= value %></a>    
                            </td> 
                        <% } %>
                    <% } %>
                </tr>
            <% } %>
            </table>
        <% } %>
        
    </div>

    <br>

    <div class="addtl-search">
        <form>
            <input type="radio" id="allTerms" value="list_all_terms" class="form-check-input" name="flexRadioDefault" id="flexRadioDefault2" checked> List All Terms<br>
            <input type="radio" id="searchForTerm" value="search_for_a_term" class="form-check-input" name="flexRadioDefault" id="flexRadioDefault1"> Search For A Term<br><br>
            <button type="button">Submit</button>
        </form>
    </div>
    <br>
    
    <script>
        $(document).ready(function() {
            $('.addtl-search button').on('click', function() {
                if($('#allTerms').is(':checked')) {
                    $("#searchForTermTable").addClass("invisible");
                    $("#allTermsTable").removeClass("invisible");
                } else if ($('#searchForTerm').is(':checked')) {
                    $("#allTermsTable").addClass("invisible");
                    $("#searchForTermTable").removeClass("invisible");
                }
            })
        })
    </script>

    <%- include('partials/all-terms') -%>
    <%- include('partials/search-for-term') -%>

</body>
</html>