<%- include('partials/header') -%>
</head>
<body>
    <h1>Parmenides</h1>
    <br>
    <div class="term-data-1">
        <% var info = "" %>
        <% var url = "" %>
        <p><span class="label">Normalized representation:</span> <%= data[0].substring(30, data[0].length) %></p>
        <p><span class="label">Part of Speech tag: </span><%= data[1].substring(6, data[1].length) %></p>
        <p><span class="label">Head: </span>
            <% if (data[3].substring(7, data[3].length).length == 0) { %>
                <%= 'none' %>
            <% } else { %>
                <% url = '/terms/' + data[7].substring(10) %>
                <% info = data[3].substring(7, data[3].length) %>

                <a href= <%= url %> ><%= info %></a>
            <% } %>
        </p>
        <p><span class="label">Dependent: </span>
            <% if (data[4].substring(6, data[4].length).length == 0) { %>
                <%= 'none' %>
            <% } else { %>
                <% url = '/terms/' + data[8].substring(9, data[8].length-2) %>
                <% info = data[4].substring(6, data[4].length) %>

                <a href= <%= url %> ><%= info %></a>
            <% } %>
        </p>
        <p><span class="label">Relation: </span>
            <% if (data[2].substring(6, data[2].length).length == 0) { %>
                <% info = 'none' %>
            <% } else { %>
                <% info = data[2].substring(6, data[2].length) %>
            <% } %>
            <%= info %>
        </p>
        <br>
        <p>
            <% if (nlpPhrase.length > 1) { %>
                <span class="label">NLP phrases:</span> 
                <ul>
                    <% for (var i = 0; i < nlpPhrase.length; i++) { %>
                        <li><%= nlpPhrase[i].substring(15, nlpPhrase[i].length-2) %></li>
                    <% } %>
                </ul>
            <% } else { %>
                <span class="label">NLP phrase:</span> 
                <%= nlpPhrase[0].substring(16, nlpPhrase[0].length-2) %>
            <% } %>
            
        </p>
    </div>
    <br>
    <div class="term-data-2">
        <% var hypernymID = data[7].substring(10) %>
        <% if (hypernymID.length == 0) { %>
            <p><span class="label">Hypernym: </span>none</p>
        <% } else { %>
            <% var url = "/terms/" + hypernymID %>
            <p>
                <span class="label">Hypernym: </span>
                <a href= <%= url %> > <%= data[3].substring(7, data[3].length) %> </a>
            </p>
        <% } %>
        <p>
            <% if (hyponyms.length > 1) { %>
            <span class="label">Hyponyms: </span> 
            <ul>
                <% for (var i = 0; i < hyponyms.length; i++) { %>
                    <li>
                        <% var url = "/terms/" + hyponyms[i][1].substring(13) %>
                        <a href= <%= url %> > <%= hyponyms[i][2].substring(14,hyponyms[i][2].length-2) %> </a>
                    </li>
                <% } %>
            </ul>
            <% } else if (hyponyms.length == 1) { %>
                <span class="label">Hyponym: </span>
                <% var url = "/terms/" + hyponyms[0][1].substring(13) %>
                <a href= <%= url %> > <%= hyponyms[0][2].substring(14,hyponyms[0][2].length-2) %> </a>
            <% } else { %>
                <span class="label">Hyponyms: </span> none
            <% } %>
            
        </p>
        <% if (similarTerms.length > 0) { %>
            <p><span class="label">Similar terms: </span>
                <ul>
                    <% for (var i = 0; i < similarTerms.length; i++) { %>
                        <li>
                            <% var url = "/terms/" + similarTerms[i][0].substring(7) %>
                            <a href= <%= url %> > <%= similarTerms[i][1].substring(17,similarTerms[i][1].length-2)%> </a>
                        </li>
                    <% } %>
                </ul>
            </p>
        <% } %>
    </div>
    <br>
</body>
</html>