<%- include('partials/header') -%>
<body>
    <h1>Parmenides</h1>
    <% termURL = "/terms/" + termID.substring(7,termID.length-2) %>
    <h3>Term: 
        <a href=<%= termURL %>>
            <span id="term">
                <%= term %>
            </span>
        </a>
    </h3>
    <h3>Document title: 
        <%= docTitle[0].split('","')[0].substring(10) %>
    </h3>
    <h3><a href= <%= docUrl %> >Link to document</a></h3>
    <br>
    <div style="outline: 1px; outline-style: solid; padding: 1rem;" >
        <p id="documentContent">
            <% let passage = "" %>
            <% for (var i = 0; i < content.length; i++) { %>
                <% var str = content[i].substring(12, content[i].length-2) %> 
                <% passage += str + ' ' %>
            <% } %>
            <%= passage %>
        </p>
    </div>
    <script>
        let str = document.getElementById("documentContent").innerHTML;
        var term = document.getElementById('term').innerHTML.trim();
        var term2 = "";
        var sRegExInput = new RegExp(term, "gi");
        var res = str.replace(sRegExInput, function(match) {
            term2 = matchCase(term, match)
            return "<span class='highlight'>" + term2 + "</span>"
        });

        document.getElementById("documentContent").innerHTML = res;

        document.getElementById('term').innerHTML = term2;

        function matchCase(text, pattern) {
            var result = '';

            for(var i = 0; i < text.length; i++) {
                var c = text.charAt(i);
                var p = pattern.charCodeAt(i);

                if(p >= 65 && p < 65 + 26) {
                    result += c.toUpperCase();
                } else {
                    result += c.toLowerCase();
                }
            }

            return result;
        }
    </script>
</body>
</html>