<%- include('partials/header') -%>
<body>
    <h1>Parmenides</h1>
    <h3>Term: <%= term %></h3>
    <h3>Document title: <%= docTitle %></h3>
    <h3>Link to document: <a href= <%= url %> ><%= url %></a></h3>
    <br>
    <p style="outline: 1px;">
        <%= content %>
    </p>
</body>
</html>