<%- include('partials/header') -%>
<body>
    <h1>Parmenides</h1>
    <br>
    <div class="term-data-1">
        <p><span class="label">Normalized representation:</span> <%= data[0].substring(30, data[0].length) %></p>
        <p><span class="label">Part of Speech tag: </span><%= data[1].substring(6, data[1].length) %></p>
        <p><span class="label">REL: </span><%= data[2].substring(6, data[2].length) %></p>
        <p><span class="label">HEAD: </span><%= data[3].substring(7, data[3].length) %></p>
        <p><span class="label">DEP: </span><%= data[4].substring(6, data[4].length) %></p>
        <br>
        <p>
            <span class="label">NLP phrases:</span> 
            <ul>
                <% for (var i = 0; i < nlpPhrase.length; i++) { %>
                    <li><%= nlpPhrase[i].substring(16, nlpPhrase[i].length-2) %></li>
                <% } %>
            </ul>
            
        </p>
    </div>
    <br>
    <div class="term-data-2">
        <% var hypernymID = data[6].substring(11, data[6].length) %>
        <% if (hypernymID === 'none') { %>
            <p><span class="label">Hypernym: </span>none</p>
        <% } else { %>
            <% var url = "/terms/" + hypernymID %>
            <p>
                <span class="label">Hypernym: </span>
                <a href= <%= url %> > <%= data[3].substring(7, data[3].length) %> </a>
            </p>
        <% } %>
        <p>
            <span class="label">Hyponyms: </span> 
            <ul>
                <% for (var i = 0; i < hyponyms.length; i++) { %>
                    <li>
                        <% var url = "/terms/" + hyponyms[i][1].substring(13) %>
                        <a href= <%= url %> > <%= hyponyms[i][2].substring(14,hyponyms[i][2].length-2) %> </a>
                    </li>
                <% } %>
            </ul>
            
        </p>
        <p><span class="label">Similar terms: </span>
            <ul>
                <% for (var i = 0; i < similarTerms.length; i++) { %>
                    <li>
                        <% var url = "/terms/" + similarTerms[i][0].substring(7) %>
                        <a href= <%= url %> > <%= similarTerms[i][1].substring(17,similarTerms[i][1].length-2)%> </a>
                    </li>
                <% } %>
            </ul>
        </p>
    </div>
</body>
</html>