<%- include('partials/header') -%>

<body>
    <%- include('partials/search-bar-js') -%>
    <h1>Parmenides Search Tool</h1>
    <form action="/" method="post">
        <input type="text" id="search-bar" placeholder="Enter Search Term" autofocus required name="word">
        <button type="submit" onclick="checkButton(); showTables();"> Submit </button><br><br>
        <p>I want to find...</p>
        <input type="radio" value="Terms" class="form-check-input" name="flexRadioDefault" id="flexRadioDefault2" checked> Terms<br>
        <input type="radio" value="Documents" class="form-check-input" name="flexRadioDefault" id="flexRadioDefault1"> Documents<br>
    </form>
    <br>
    <div id="term-table">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Content</th>
                    <th>NLP Phrase</th>
                    <th>Part of Speech</th>
                    <th>Term Page</th>
                </tr>
            </thead>
            <% for(var i = 0; i < data.length; i++) { %>
                <tr class="term-tr">
                    <% var temp = data[i].split('","') %>
                    <% for(var j = 0; j < temp.length; j++) { %>
                        <% if (j == 0) { %>
                            <td>
                                <%= temp[j].substring(12) %>
                            </td>
                        <% } else if (j == 2) { %>
                            <td class='term-td'>
                                <%= temp[j].substring(14) %>
                            </td>
                        <% } else if (j == 3) { %>
                            <td>
                                <%= temp[j].substring(6) %>
                            </td>
                        <% } else if (j == 4) { %>
                            <td>
                                <% var url = "/terms/" + temp[j].substring(5, temp[j].length-2) %>
                                <a href= <%= url %> >Term Page</a>
                            </td>
                        <% } %>
                    <% } %>
                </tr>
            <% } %>
        </table>
    </div>
</body>
</html>