<%- include('partials/header') -%>
</head>
<body>

    <span id="term" class="invisible"><%= term[0].split('","')[1].substring(13,term[0].split('","')[1].length-2) %></span>
    <h1 id="temph1"></h1>
    <h1>Parmenides</h1>
    <% termURL = "/terms/" + termID %>
    
    <h3>Term: 
        <a href=<%= termURL %>>
            <%= term[0].split('","')[1].substring(13,term[0].split('","')[1].length-2)%>          
        </a>
    </h3>
    <h3>Document: 
        <a href= <%= docUrl %> ><%= docTitle[0].split('","')[0].substring(10) %></a>
    </h3>
    <br>
    <div id="otherTerms" class="invisible">
        <% for (var i = 0; i < otherTerms.length; i++) { %>
            <%=otherTerms[i]%>,
        <% } %>
        
    </div>
    <div style="outline: 1px; outline-style: solid; padding: 1rem;" >
        <p id="documentContent">
            <% let passage = "" %>
            <% for (var i = 0; i < content.length; i++) { %>
                <% var str = content[i].substring(12, content[i].length-2) %> 
                <% passage += str + ' ' %>
            <% } %>
            <%= passage %>
        </p>
    </div>
    
    <script>
        $(document).ready(function() {
            let content = $("#documentContent").text();
            var term = $('#term').text().trim();
            var allTerms = $('#otherTerms').text();
            var arr = allTerms.split(',');
            for (var i = 0; i < arr.length-1; i++) {
                term = arr[i].trim();
                var termRegExp = new RegExp('\\b' + term + '\\b', 'g')
                content = content.replace(termRegExp, '<span class="highlight">' + term + '</span>');
            }
            
            
            $("#documentContent").html(content);
        });
    </script>
</body>
</html>