<%- include('partials/header') -%>
<link rel="stylesheet" href="/css/tables.css">
<script src="https://kit.fontawesome.com/a80cd916ad.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/search-bar-js') -%>
    <h1>Parmenides Search Tool</h1>
    <form action="/" method="post">
        <div class="container">
            <div class="search-bar-div">
                <input type="text" id="search-bar" placeholder="Enter Search Term" autofocus name="word">
                <button type="submit" class="search-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <div class="container2">
            <h3 id="label-text">I want to find...</h3>
            <div class="radio-buttons">
                <span class="radio-button"><input type="radio" id="terms" value="Terms" class="form-check-input radio-button" name="flexRadioDefault" id="flexRadioDefault2" checked> Terms</span>
                <span class="radio-button"><input type="radio" id="documents" value="Documents" class="form-check-input radio-button" name="flexRadioDefault" id="flexRadioDefault1"> Documents</span>
                <br>    
            </div>
            <br>
            <div class="advanced-search">
                <button type="button" class="btn btn-primary btn-sm">Advanced Search</button>
            </div>
        </div>
        <div id="search-advanced-terms" class="invisible">
            <%- include('partials/search-advanced-terms') -%>
        </div>
        <div id="search-advanced-docs" class="invisible">
            <%- include('partials/search-advanced-docs') -%>
        </div>
    </form>
    <br>
    <div id="term-table">
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>Content</th>
                    <th>NLP Phrase</th>
                    <th>Part of Speech</th>
                    <th>Term Page</th>
                </tr>
            </thead>
            <% for(var i = 0; i < data.length; i++) { %>
                <tr class="term-tr">
                    <% var temp = data[i].split('","') %>
                    <% for(var j = 0; j < temp.length; j++) { %>
                        <% if (j == 0) { %>
                            <td>
                                <%= temp[j].substring(12) %>
                            </td>
                        <% } else if (j == 2) { %>
                            <td class='term-td'>
                                <%= temp[j].substring(13) %>
                            </td>
                        <% } else if (j == 3) { %>
                            <td>
                                <%= temp[j].substring(6) %>
                            </td>
                        <% } else if (j == 5) { %>
                            <td>
                                <% var url = "/terms/" + temp[j].substring(5) %>
                                <a href= <%= url %> >Term Page</a>
                            </td>
                        <% } %>
                    <% } %>
                </tr>
            <% } %>
        </table>
    </div>
    <script>
        $(document).ready(function() {
            $('.advanced-search button').on('click', function() {
                if($('#terms').is(':checked')) {
                    $("#search-advanced-docs").addClass("invisible");
                    $("#search-advanced-terms").removeClass("invisible");
                } else if ($('#documents').is(':checked')) {
                    $("#search-advanced-terms").addClass("invisible");
                    $("#search-advanced-docs").removeClass("invisible");
                }
            })
        })

    </script>
</body>
</html>